.container {
  font-size: 1rem;
  position: fixed;
  z-index: 10;
}

.position {
  top: 10px;
  right: 10px;
  animation: toat-in-right .7s
}

.notification {
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px #999;
  opacity: 0.95;
  transition: .2s ease;
}

.notification:hover {
  opacity: 1;
}

.toast {
  height: 80px;
  width: 400px;
  color: #fff;
  padding: 15px 15px 10px 10px;
}

.container button {
  float: right;
  background: none;
  border: none;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

.container button svg {
  opacity: .8;
}

.container button svg:hover {
  columns: #ffff;
  opacity: 1;
}

.title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  width: 300px;
  height: 18px;
  display: flex;
  align-items: center;
}

.title svg {
  margin-right: 10px;
}

.description {
  margin: 0;
  text-align: left;
}

@keyframes toat-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}